<style>
.simple-small-modal {
    
}
</style>

<div id="login" class="overlay" ng-controller="AuthLoginCtrl as login">
    <a class="cancel" href=""></a>
    <div class="modal">
        <div class="content">
            <div class="input-field">
                <input type="text" class="validate" ng-model="login.email">
                <label for="email">Email</label>
            </div>
            <div class="input-field">
                <input type="password" class="validate" ng-model="login.password">
                <label for="password">Password</label>
            </div>
            <a class="waves-effect wave-light btn left" ng-click="login.login()">Login</a>
        </div>
    </div>
</div>
<script>
    Materialize.updateTextFields();
</script>
