<div class="pure-g" ng-controller="AppCategoryCtrl as appcategory">
        <div ng-include="'partials/navbar.html'"></div>

        <!-- recents replies in this category -->
        <div class="pure-u-1 pure-u-md-3-8 pure-u-lg-1-3">
            <p class="flow-text">You may constrain the format of your route parameters using the where method on a route instance. The where method accepts the name of the parameter and a regular expression defining how the parameter should be constrained:</p>
        </div>

        <!-- topics section -->
        <div class="pure-u-1 pure-u-md-5-8 pure-u-lg-2-3">
            <!-- forum location -->
            <ul class="breadcrumb">
                <li ng-repeat="c in appcategory.breadcrumb">
                    <a ui-sref="category({slug: c.slug})"><span ng-bind="c.title"></span></a>
                </li>
            </ul>

            <a class="pure-button" ng-if="appcategory.category.subcategories.length > 0">New topic</a>
            <!-- if have sub-categories we list them -->

            <ul class="list round" ng-show="appcategory.display_subcategories()">
                <li ng-repeat="c in appcategory.category.subcategories">
                    <h3><a ui-sref="category({slug: c.slug? c.slug: c.id})"><b ng-bind="c.title"></b></a></h3>
                    <span ng-bind="c.description"></span>
                </li>
            </ul>

            <a class="pure-button">New topic</a>

            <ul class="list round">
                <li ng-repeat="t in appcategory.category.topics">
                    <span ng-bind="t.title"></span>
                </li>
            </ul>

            <p ng-if="appcategory.category.topics.length == 0">No topic created yet</p>
            <a class="pure-button">New topic</a>
        </div>
    </div>
</div>
