<div ng-include="'partials/modals/login.html'"></div>
<div ng-include="'partials/modals/register.html'"></div>

<div class="dm-12">
	<nav class="navbar navbar-inverse">
	 	<div class="container-fluid">
	    <div class="navbar-header">
	    	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
	        	<span class="icon-bar"></span>
	        	<span class="icon-bar"></span>
	        	<span class="icon-bar"></span>
	      	</button>
	      	<a class="navbar-brand" href="#">WebSiteName</a>
		</div>
	    <div class="collapse navbar-collapse" id="myNavbar">
	      	<ul class="nav navbar-nav">
	        	<li class="active"><a href="#">Home</a></li>
	        	<li class="dropdown">
	          		<a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 <span class="caret"></span></a>
	          		<ul class="dropdown-menu">
	            		<li><a href="#">Page 1-1</a></li>
	            		<li><a href="#">Page 1-2</a></li>
	            		<li><a href="#">Page 1-3</a></li>
	          		</ul>
	        	</li>
	        	<li><a href="#">Page 2</a></li>
	        	<li><a href="#">Page 3</a></li>
	      	</ul>

			<div ng-controller="UserCtrl as user">
	    		<ul class="nav navbar-nav navbar-right"  ng-if="!user.isAuthenticated()">
	        		<li><a href="" data-toggle="modal" data-target="#m_register"><span class="glyphicon glyphicon-user"></span>Sign Up</a></li>
	        		<li><a href="" data-toggle="modal" data-target="#m_login"><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
	      		</ul>
				<ul class="nav navbar-nav navbar-right"  ng-if="user.isAuthenticated()">
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)">
							[<span ng-bind="user.me.name"></span>]
						</a>
						<ul class="dropdown-menu">
							<li ng-controller="LogoutCtrl as logout">
								<a href="javascript:void(0)" ng-click="logout.logout()">
									<span class="glyphicon glyphicon-log-out">Logout</span>
								</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>

	    </div>
	  </div>
	</nav>
</div>
